/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: white;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Navbar ***********/

header {
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.nav-bar ul {
    display: flex;
    gap: 68px;
    list-style-type: none;
    margin: 0;
}

.nav-bar li {
    padding-top: 16px;
    text-align: center;
    border-top: 2px solid transparent;
}

.nav-bar li:hover {
    border-top: 2px solid var(--main-color);
}

/****** Titre d'accueil ***********/


.title-h1 {
    font-size: 1.6em;
    margin: 0;
}

.subtitle-h1 {
    margin: 10px 0 0 0;
    padding: 0 0 15px 0;
    font-size: 1.2em;
}
/****** Search bar ***********/

.search-box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
  
.icon-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
  
.fa-location-dot {
    color: black;
}


.search-bar {
    padding-left: 20px;
    height: 50px;
    width: 220px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
} 

.search-bar::placeholder {
    color: black;
    font-size: 18px;
    font-weight: 700;
  }


.search-button {
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 17px;
}

.search-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

#icon-glass {
    display: none;
}

/****** Filtres ***********/

.filters-title {
    font-size: 18px;
    display: inline;
}

.filters {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.filters-content {
    display: flex;
    gap: 0px;
}

.filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
  
.filters-icon {
    display: flex;
    align-items:center;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    display: inline-block;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
}

.filters-icon:hover {
    cursor: pointer;
    background-color: #D6E4FF; 
    opacity: 1;    
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire  {
    padding-right: 10px;
}

/****** Info ***********/

.info-title .fa-info {
    width: 24px;
    height: 24px;
    border: 2px solid #F2F2F2;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.info-title {
    display:flex;
    align-items: center;
    gap: 10px;

}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
}



/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box; 
    padding: 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.hebergements-title {
    margin-bottom: 30px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}    

.hebergements-cards img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    box-sizing: border-box;
    padding-left: 8px;
}

.hebergements-cards .card-title {
    margin-top: 10px;   
}

.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    margin-bottom: 8px;
}

.hebergements-cta {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    margin: 60px 0 60px 0;
    gap: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activites-title {
    margin-left: 40px;
}

.activites-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95%;
    margin: auto;
    gap: 30px;
}

.activites-card-content {
    background-color: white;
    border-radius: 20px;
    padding: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;  
}

.activites-card img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 439px;
    object-fit: cover;
}

.activites-card-title {
    font-size: 16px;
}

.activites-card-txt {
    padding-left: 20px; 
}

/*footer*/

.footer-container {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    padding-left: 20px;
}

.footer-container h3 {
    font-size: 18px;
}

.footer-container p {
    font-size: 16px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body {
        width: 100%;
        margin: auto;
    }


    .logo img {
        padding-left: 20px;
    }

    .filters {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    #icon-glass {
        display: none;
    }


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    .hebergements-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;    
    }
    .populaires {
        width: 100%;
        margin-top: 30px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }


    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

     
    .activites {
        width: 100%;
    }

    .activites-card {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .activites-card-txt {
        padding: 16px;
        display: flex;
        align-items: center; 
        height: 40px; /* Hauteur fixe pour uniformiser */
    }

    .activites-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    body {
        width:100%;
        padding: 0;
        margin:0;
    }

    .main-container {
        padding: 0;
        margin:0;
        display: grid;
        grid-template-rows: 1fr auto;
    } 

    header {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .logo img {
        height: 29px;
    }

    .nav-bar ul {
        padding: 0;
        gap: 0;
    }

    .nav-bar li {
        font-size: 20px;
        padding-bottom: 16px;
        width: 50%;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .nav-bar li:hover {
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    .welcome-title {
        padding-left: 20px;
    }

    .search-box {
        padding: 0 20px;
        
    }

    #search-button {
        display: none;
    }
        
    #icon-glass {
        display:block;
        border-radius: 20px;
        border: none; 
        background-color: var(--main-color);
        min-width: 65px;
        min-height: 60px;
        box-shadow: 0 3px 5px rgba(0 0 0 / 30%);    
    }
        
    .icon-glass {
        color: white;
        font-size: 1.7em;
        align-items: center;
    }

    #icon-glass:hover {
        cursor: pointer;
        opacity: 0.9;
    }
        
    .icon-location {
        min-width: 55px;
        font-size: 1.2em;
    }
               
    .search-bar {
        width: 100%;
        height: 60px;     
    }

    .filters-title {
        padding-left: 20px;
    }

    .filters .filters-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding: 0 20px;
        align-items: center;
    }

    .filters-icon {
        padding: 15px 10px 15px 20px;
        margin: 0;
        font-size: 18px;
        display: flex;
        flex-wrap: nowrap;
    }

    .info {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.2em;
    }

    .info-title .fa-info {
        min-width: 24px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;  
    }

     .hebergements {
        width: 90%;
        margin: auto;
        padding: 40px 0;
        background-color: white;
    }
    .hebergements-cards .card-title {
        font-size: 1.2em;
    }

    .hebergements-cards .card-content {
        font-size: 1.2em;
    }

    .hebergements-cards {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .populaires {
        width: 100%;
        border-radius: 0;
    }

    .fa-chart-line {
        font-size: 1.5em;
    }
    
    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .populaires-cards .card-title {
        font-size: 1.2em;
    }

    .populaires-cards .card-subtitle {
        font-size: 1.2em;
    }

    .populaires-cards .card-rating {
        font-size: 1.3em;
    }

    .activites {
        width: 90%;
        margin: auto;
        padding-bottom: 60px;
    }

    .activites-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }

    .activites-card-title {
        font-size: 1.2em;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }


    .footer-container {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        border-radius: 0;
       
    }

     .footer-container .footer-title {
        font-size: 1.4em;
    }

    .footer-container .footer-txt {
        font-size: 1.2em;
    }
}
